/* .loan-calculator {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
  }
  
  .loan-calculator label {
    display: block;
    margin-bottom: 10px;
  }
  
  .loan-calculator input {
    margin-left: 10px;
  }
  
  .loan-calculator button {
    margin-top: 10px;
  }
  
  .loan-calculator p {
    margin-top: 20px;
    font-size: 1.2em;
  } */
form{
  padding: 20px;
  border: 1px solid #c98484;
  border-radius: 5px;
  margin: 20px;
}
button{
  padding: 0.2%;
  margin: 0.1%;
}
input{
  padding: 0.2%;
  margin: 0.1%;
}