<!-- <header class="banner">
    <h3>ANGULAR DEMO APP

    </h3>
</header>

<app-title-form [title]="title" [formSubmitted="updateTitle"></app-title-form>
<app-welcome></app-welcome>
<app-loan-calculator></app-loan-calculator>
<app-directives-demo></app-directives-demo> -->
<header class="banner">
  <h3>{{title}}</h3>
</header>
<app-title-form [title]="title" [formSubmitted]="updateTitle"></app-title-form>
<app-welcome></app-welcome>
<app-loan-calculator></app-loan-calculator>
<app-directives-demo></app-directives-demo>
<app-pipes-demo></app-pipes-demo>
